.listContainer {
  grid-area: d;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-sub1);
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eee;

  .searchBox {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    position: relative;

    input {
      width: 90%;
      padding: 8px 10px;
      border: none;
      border-bottom: 2px solid var(--color-point1);
      outline: none;
    }
    i {
      color: var(--color-point1);
      font-size: var(--font-20px);
      cursor: pointer;
    }
  }

  .tabMenu {
    display: flex;
    background: var(--color-sub1);
    border-bottom: 1px solid #ddd;

    button {
      flex: 1;
      padding: 8px 0;
      background: none;
      border: none;
      font-size: var(--font-14px);
      color: #666;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        background-color: #f9f9f9;
      }
    }
    button.active {
      color: var(--color-point1);
      border-bottom: 2px solid var(--color-point1);
    }
  }

  .listContent,
  .coinContent {
    display: flex;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      padding: 10px 5px;
    }
  }

  .listContent {
    background-color: var(--color-sub2);
    border-bottom: 1px solid #ddd;
    font-size: var(--font-14px);
    padding: 0 6px 0 0;

    li {
      cursor: pointer;
      user-select: none;

      span {
        margin-left: 3px;
        font-size: 10px;
        color: #666;
      }

      &:hover {
        background-color: #eee;
        border-radius: 10px;
      }
    }

    li:nth-child(1) {
      flex: 0.7;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-left: 45px;
    }

    li:nth-child(2),
    li:nth-child(3) {
      flex: 0.4;
      justify-content: flex-end;
      text-align: right;
    }

    li:nth-child(4) {
      flex: 0.5;
      justify-content: flex-end;
      text-align: right;
    }
  }

  .coinScroll {
    flex: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  .coinContent {
    width: 100%;
    font-size: var(--font-14px);
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background-color: var(--color-sub2);
    }

    li:nth-child(1) {
      flex: 0.1;
      justify-content: flex-start;
      padding-left: 10px;
    }

    li:nth-child(2) {
      flex: 0.6;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-left: 5px;
    }

    li:nth-child(3),
    li:nth-child(4) {
      flex: 0.4;
      justify-content: flex-end;
      text-align: right;
    }

    li:nth-child(5) {
      flex: 0.5;
      justify-content: flex-end;
      text-align: right;
    }

    .nowPrice,
    .contrast,
    .transaction {
      justify-content: flex-end;
    }

    .symbol {
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
      gap: 2px;

      span {
        font-size: 11px;
        color: #999;
      }
    }

    .red {
      color: red;
    }
    .blue {
      color: blue;
    }
  }
}

/* 모달창 */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  .modalBox {
    background: #fff;
    padding: 30px 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

    p {
      margin-bottom: 15px;
      font-size: var(--font-16px);
      line-height: 2rem;
      font-weight: 600;
    }

    .modalBtns {
      display: flex;
      gap: 15px;
      justify-content: center;

      button {
        padding: 8px 20px;
        border: 2px solid var(--color-point1);
        border-radius: 4px;
        cursor: pointer;
        background-color: var(--color-point1);
        color: var(--color-sub1);
        font-weight: 600;
      }
      :nth-child(2) {
        background: var(--color-sub1);
        color: #333;
      }
    }
  }
}
