.listContainer {
  grid-area: d;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-sub1);
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eee;

  .listContent,
  .coinContent {
    display: flex;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      padding: 10px 5px;
    }

    li:nth-child(1) {
      flex: 0.6;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-left: 15px;
    }

    li:nth-child(2),
    li:nth-child(3) {
      flex: 0.4;
      justify-content: flex-end;
      text-align: right;
    }

    li:nth-child(4) {
      flex: 0.5;
      justify-content: flex-end;
      text-align: right;
    }
  }

  .listContent {
    background-color: var(--color-sub2);
    border-bottom: 1px solid #ddd;
    font-size: var(--font-14px);
    padding: 0 6px 0 0;

    li {
      cursor: pointer;
      user-select: none;

      span {
        margin-left: 3px;
        font-size: 10px;
        color: #666;
      }

      &:hover {
        background-color: #eee;
        border-radius: 10px;
      }
    }
  }

  .coinScroll {
    flex: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  .coinContent {
    width: 100%;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background-color: var(--color-sub2);
    }

    .nowPrice,
    .contrast,
    .transaction {
      justify-content: flex-end;
    }

    .symbol {
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
      gap: 2px;

      span {
        font-size: 11px;
        color: #999;
      }
    }

    .red {
      color: red;
    }
    .blue {
      color: blue;
    }
  }
}
