.headerContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--color-sub1);
  z-index: 100;

  .headerInner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 90px;

    .logo {
      width: 100%;
      max-width: 150px;
      height: 70px;
      background: url(/upbit.avif) no-repeat;
      background-size: cover;
      background-position: center;
      text-indent: -999px;
      overflow: hidden;
      border-radius: 3px;
    }

    .gnb {
      width: 35%;
      ul {
        display: flex;
        gap: 10px;
        font-size: var(--font-24px);
        font-weight: 400;

        li {
          width: 20%;
          padding: 5px;
          text-align: center;
        }

        li:hover {
          color: var(--color-point1);
          font-weight: 800;
        }
      }
    }

    .utilMenu {
      display: flex;
      gap: 30px;

      button {
        border: 3px solid transparent;
        background: var(--color-point1);
        font-size: var(--font-20px);
        color: var(--main-font);
        font-weight: 500;
        border-radius: 5px;
        padding: 2px 13px;
      }

      button:hover {
        background: var(--color-point2);
      }
    }
  }
}
