:root {
  --header-height: 70px;

  --font-100px: 6.25rem;
  --font-90px: 5.63rem;
  --font-80px: 5rem;
  --font-70px: 4.38rem;
  --font-60px: 3.75rem;
  --font-50px: 3.13rem;
  --font-44px: 2.75rem;
  --font-40px: 2.5rem;
  --font-36px: 2.25rem;
  --font-34px: 2.13rem;
  --font-30px: 1.88rem;
  --font-28px: 1.75rem;
  --font-26px: 1.63rem;
  --font-24px: 1.5rem;
  --font-22px: 1.38rem;
  --font-20px: 1.25rem;
  --font-18px: 1.13rem;
  --font-16px: 1rem;
  --font-14px: 0.88rem;

  --color-main: rgba(190, 45, 60, 1);
  --color-point1: rgba(0, 55, 150, 1);
  --color-point2: rgba(0, 100, 225, 1);
  --color-sub1: rgba(255, 255, 255, 1);
  --color-sub2: rgba(245, 245, 245, 1);
  --main-font: rgba(255, 255, 255, 1);
  --sub-font: #333;
}

@keyframes smooth_bounce {
  0% {
    transform: scale(1.05) translateY(0);
  }

  25% {
    transform: scale(1.025) translateY(-2px);
  }

  50% {
    transform: scale(1.05) translateY(0);
  }

  75% {
    transform: scale(1.025) translateY(-2px);
  }

  100% {
    transform: scale(1.05) translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  vertical-align: top;
  -webkit-text-size-adjust: none;
}

ul,
ol,
dl {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: top;
  max-width: 100%;
}

table,
button {
  border-collapse: collapse;
  border-spacing: 0;
}

label {
  cursor: pointer;
}

/* 2. 숨김 처리용 클래스 (아까 말한 h2 가리기용) */
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/* 3. 공통 폰트 등 */
html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  color: #333;
  font-weight: 400;
  line-height: 1.5;
}
