* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  vertical-align: top;
  -webkit-text-size-adjust: none;
}

ul,
ol,
dl {
  list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	border: 0;
	vertical-align: top;
    max-width: 100%;
}

table , button{
  border-collapse: collapse;
  border-spacing: 0;
}

label {
  cursor: pointer;
}

/* 2. 숨김 처리용 클래스 (아까 말한 h2 가리기용) */
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/* 3. 공통 폰트 등 */
html {
	font-size: 16px;
}

body {
	font-family: "Roboto", "Noto Sans KR", sans-serif;
	color: #333;
	font-weight: 400;
    line-height: 1.5;
}